@import "./variables";
@import "./Home";
@import "./SearchDropdown";
@import "./scoreResult";

.App {
  text-align: center;
  margin: auto;
  font-family: $mainFont;
  color: white;
  overflow: hidden;
  height: 100%;
}

header {
  h1 {
    position: relative;
    z-index: 1;
    font-family: $mainFont;
    font-weight: 300;
    color: whitesmoke;
  }
}

footer {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  height: 100px;
  a {
    position: relative;
    color: white;
    text-decoration: none;
  }
  .circle2 {
    position: absolute;
    right: 5px;
    top: 10px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: $blue;
  }
  @media screen and (min-width: $tabletWidth) {
    width: 50%;
    .circle2 {
      right: 0px;
      top: -50px;
      width: 400px;
      height: 400px;
    }
  }
}

.gradient-btn {
  width: 200px;
  height: 50px;
  cursor: pointer;
  font-family: $mainFont;
  font-weight: bold;
  border: none;
  outline: none;
  border-radius: 15px;
  background: linear-gradient(to left, $peach, $red);
  background-size: 200% auto;
  color: white;
  transition: all 0.3s ease;
  &:hover {
    background-position: right center;
  }
}

input {
  width: 200px;
  border: none;
  outline: none;
  font-family: $mainFont;
  padding: 0.5rem;
  box-sizing: border-box;
  background-color: whitesmoke;
}

.modal-container {
  position: fixed;
  display: grid;
  place-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 300px;
  padding: 2rem;
  background-color: $peach;
  border-radius: 20px;
  color: white;
  font-size: 1.4rem;
  button {
    @extend .gradient-btn;
    background: $blue;
    background-size: auto;
    margin-top: 1rem;
    width: 100px;
  }
}
