@import "./variables";
@import "./Home";
@import "./SearchDropdown";
@import "./scoreResult";

.App {
  text-align: center;
  margin: auto;
  font-family: $mainFont;
  color: white;
  overflow-x: hidden;
}

header {
  h1 {
    font-family: $mainFont;
    font-weight: 300;
    color: whitesmoke;
  }
}

.step1-container {
  position: relative;
  right: 75px;
  width: 300px;
  height: 200px;
  padding: 2rem;
  border-radius: 15px;
  background-color: #7da3e9;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  margin: 4rem auto;
  box-sizing: border-box;
  h3 {
    margin: 0;
    font-size: 1.4rem;
  }
  p {
    margin-top: 0.05rem;
    font-weight: 300;
  }
}

.step2-container {
  @extend .step1-container;
  left: 75px;
  align-items: flex-start;
}

.step3-container {
  @extend .step1-container;

  h3 {
    margin-bottom: 1rem;
  }
}

.gradient-btn {
  width: 200px;
  height: 50px;
  cursor: pointer;
  font-family: $mainFont;
  font-weight: bold;
  border: none;
  outline: none;
  border-radius: 15px;
  background: linear-gradient(to left, #ff6f61, #fd402d);
  background-size: 200% auto;
  height: 50px;
  color: white;
  transition: all 0.3s ease;
  &:hover {
    background-position: right center;
  }
}

input {
  width: 200px;
  border: none;
  outline: none;
  font-family: $mainFont;
  padding: 0.5rem;
  box-sizing: border-box;
  background-color: whitesmoke;
}

.state-select {
  margin: 0.5rem 0 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  input {
    margin: 0;
    width: 20px;
  }
}
