@import "./variables";

.home {
  padding-bottom: 1rem;
  @media screen and (min-width: $tabletWidth) {
    width: 75%;
    margin: 0 auto;
  }
}

.step1-container {
  position: relative;
  right: 75px;
  width: 300px;
  height: 200px;
  padding: 2rem;
  border-radius: 15px;
  background-color: #7da3e9;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  margin: 4rem auto;
  box-sizing: border-box;
  h3 {
    margin: 0;
    font-size: 1.4rem;
    @media screen and (min-width: $tabletWidth) {
      font-size: 1.8rem;
    }
  }
  p {
    margin-top: 0.05rem;
    font-weight: 300;
  }
  input {
    margin: 0;
  }
  @media screen and (min-width: $tabletWidth) {
    right: 200px;
    width: 400px;
    height: 225px;
    padding: 4rem;
  }
  @media screen and (min-width: $desktopWidth) {
    align-items: flex-start;
    right: 300px;
    margin: 3rem auto;
  }
}

.step2-container {
  @extend .step1-container;
  left: 75px;
  align-items: flex-start;
  @media screen and (min-width: $tabletWidth) {
    left: 200px;
  }
  @media screen and (min-width: $desktopWidth) {
    left: 0;
  }
}

.step3-container {
  @extend .step1-container;

  @media screen and (min-width: $desktopWidth) {
    align-items: center;
    left: 300px;
  }

  h3 {
    @media screen and (min-width: $desktopWidth) {
      align-self: flex-start;
    }
    margin-bottom: 1rem;
  }

  .gradient-btn {
    @media screen and (min-width: $desktopWidth) {
      width: 250px;
      height: 75px;
      font-size: 1rem;
    }
  }
}

.state-select {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  label {
    margin: 0.5rem;
  }
  input {
    width: 10px;
  }
}
