@import "./variables";

.home {
  padding-bottom: 1rem;
  @media screen and (min-width: $tabletWidth) {
    width: 75%;
    margin: 0 auto;
  }
}

.step1-container {
  z-index: 2;
  position: relative;
  right: 50px;
  width: 300px;
  height: 200px;
  padding: 2rem;
  border-radius: 15px;
  background-color: #7da3e9;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  margin: 4rem auto;
  box-sizing: border-box;
  h3 {
    margin: 0;
    font-size: 1.4rem;
    @media screen and (min-width: $tabletWidth) {
      font-size: 1.8rem;
    }
  }
  p {
    margin-top: 0.05rem;
    font-weight: 300;
  }
  input {
    margin: 0;
  }
  @media screen and (min-width: $tabletWidth) {
    right: 200px;
    width: 400px;
    height: 225px;
    padding: 4rem;
  }
  @media screen and (min-width: $desktopWidth) {
    align-items: flex-start;
    right: 300px;
    margin: 3rem auto;
  }
}

.step2-container {
  @extend .step1-container;
  left: 50px;
  align-items: flex-start;
  z-index: 1;
  @media screen and (min-width: $tabletWidth) {
    left: 200px;
  }
  @media screen and (min-width: $desktopWidth) {
    left: 0;
  }
}

.step3-container {
  @extend .step1-container;

  @media screen and (min-width: $desktopWidth) {
    align-items: center;
    left: 300px;
  }

  h3 {
    @media screen and (min-width: $desktopWidth) {
      align-self: flex-start;
    }
    margin-bottom: 1rem;
  }

  .gradient-btn {
    @media screen and (min-width: $desktopWidth) {
      width: 250px;
      height: 75px;
      font-size: 1rem;
    }
  }
}

.state-select {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
  box-sizing: border-box;
  label {
    line-height: 1;
  }
  #inState {
    opacity: 0;
    width: 10px;
    position: absolute;
    left: 75px;
    cursor: pointer;
    &:checked + .radio-control-in::after {
      transform: scale(1);
    }
  }
  #outState {
    opacity: 0;
    width: 10px;
    position: absolute;
    right: 10px;
    cursor: pointer;
    &:checked + .radio-control-out::after {
      transform: scale(1);
    }
  }
  .radio-control-in {
    display: grid;
    place-items: center;
    width: 0.8rem;
    height: 0.8rem;
    margin: 0 5px;
    border-radius: 50%;
    border: 0.1rem solid #ff6f61;
    padding: 2px;
    @media screen and (min-width: $tabletWidth) {
      width: 1rem;
      height: 1rem;
    }
    &::after {
      content: "";
      width: 100%;
      height: 100%;
      display: block;
      background: #ff6f61;
      border-radius: 50%;
      transform: scale(0);
      transition: all 0.3s ease-in-out;
    }
  }
  .radio-control-out {
    @extend .radio-control-in;
  }
}

.error {
  position: absolute;
  color: #fd402d;
  font-weight: 700;
  bottom: 25px;
}
