@import "./variables";

.grade {
  font-size: 10rem;
  font-weight: 200;
  @media screen and (min-width: $desktopWidth) {
    font-size: 25rem;
    line-height: 1;
    padding: 0;
    margin: 0;
  }
}

.score-main {
  padding: 2rem 0;
  background-color: #7da3e9;
  border-radius: 20px;
  width: 90%;
  margin: 4rem auto;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02),
    0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035),
    0 22.3px 17.9px rgba(0, 0, 0, 0.042), 0 41.8px 33.4px rgba(0, 0, 0, 0.05),
    0 100px 80px rgba(0, 0, 0, 0.07);
  @media screen and (min-width: $tabletWidth) {
    width: 95%;
  }
  @media screen and (min-width: $desktopWidth) {
    width: 75%;
  }
}

.score-result-container {
  display: flex;
  height: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @media screen and (min-width: $tabletWidth) {
    flex-direction: row;
    justify-content: space-around;
    height: 650px;
  }
  button {
    margin: 1rem;
  }

  span {
    @media screen and (min-width: $tabletWidth) {
      font-size: 1.5rem;
    }
  }
}

.grade-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;

  span {
    width: 300px;
    font-size: 1.2rem;
    font-weight: 300;
    @media screen and (min-width: $tabletWidth) {
      width: 400px;
      font-size: 1.4rem;
    }
  }
}

.school-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.8rem;
  @media screen and (max-width: $phoneWidth) {
    padding: 0;
  }
  @media screen and (min-width: $tabletWidth) {
    padding: 0;
    align-items: flex-start;
  }

  span {
    margin: 1rem auto;
    padding: 0.2rem 0.5rem;
    font-size: 1.2rem;
    @media screen and (max-width: $phoneWidth) {
      font-size: 1rem;
      padding: 0.2rem;
    }
    @media screen and (min-width: $tabletWidth) {
      font-size: 1.6rem;
      margin: 1rem 0;
      padding: 0.5rem;
    }
  }

  .school-link-btn {
    outline: none;
    border: 3px solid #fd402d;
    border-radius: 15px;
    width: 100px;
    height: 50px;
    font-weight: bold;
    font-size: 0.8rem;
    font-family: $mainFont;
    background: transparent;
    color: #fd402d;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    &:hover {
      background: #fd402d;
      color: white;
    }
    @media screen and (min-width: $tabletWidth) {
      font-size: 0.9rem;
      width: 200px;
    }
  }
}

.score-footer {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  height: 100px;
  a {
    position: relative;
    color: white;
    text-decoration: none;
  }
  @media screen and (min-width: $tabletWidth) {
    width: 50%;
  }
}
