@import "./variables";

.dropdown {
  .dropdown-schools {
    position: absolute;
    background-color: whitesmoke;
    width: 200px;
    max-height: 150px;
    overflow-y: scroll;
    box-sizing: border-box;

    .option {
      display: flex;
      align-items: center;
      padding: 1rem;
      box-sizing: border-box;
      border: 1px solid gainsboro;
      text-align: left;
      color: black;
      font-size: 0.8rem;
    }
  }
}
