@import "./variables";

.dropdown {
  margin: 0 auto;
  input {
    width: 200px;
    border: none;
    outline: none;
    font-family: $mainFont;
    padding: 0.5rem;
    box-sizing: border-box;
    background-color: whitesmoke;
    border-radius: 5px;
  }
  .dropdown-schools {
    position: absolute;
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: #7da3e9;
    background-color: whitesmoke;
    width: 200px;
    max-height: 500px;
    overflow-y: scroll;
    box-sizing: border-box;

    .option {
      display: flex;
      align-items: center;
      padding: 1rem;
      text-align: left;
      color: black;
    }
  }
}
